{% extends "_layout.html" %}
{% block main_content %}
<header class="header">
    <h1 class="header-title">IKMI MART</h1>
    <p>ikmimart.onrender.com</p>
</header>

<div class="search-container">
    <input type="text"
        id="searchBox"
        name="search_txt"
        hx-get="/search"
        hx-trigger="keyup[key=='Enter'], keyup delay:500ms" 
        hx-target="#search-results"
        placeholder="Search..."
        hx-on:keyup="if(event.key === 'Enter') this.value = ''"
        class="search-input">
</div>



<div class="search-result-container">
    <div id="search-results">
    </div>
    <div class="shared-barcode-container">
        <img  src="static/ikmiqr.png"/>
    </div>
</div>

<div class="settings-icon-container">
    <div class="settings-icon" hx-get="/settings" hx-trigger="click" hx-target="#main-content" hx-push-url="true">
        ⚙️
    </div>
</div>
{% endblock %}